$default-font-color: #AFB1B6;

body {
  background: #c2c1bc;
}

a {
  color: #b61910;
}

a:hover {
  color: #666666;
  text-decoration: none;
}

img {
  width: 100%;
}
h1, h2, h3, h4 {
  margin-bottom: 20px; 
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 54px;
  text-align: center;
  color: #b61910;
}
.card {
  height: "auto";
  width: "auto";
  overflow: "auto";
  margin-bottom: 20px;
}

.container {
  max-width: 820px;
  padding: 30px 80px;
}

.jumbotron {
  height: 100vmin;
  background: url(http://ak7.picdn.net/shutterstock/videos/7215547/thumb/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  
  h1 {
    color: white;
    font-size: 62px;
    font-weight: 600;
    border-bottom: 1px solid white;
    border-bottom-color: rgba(255, 255, 255, 0.40);
    margin-bottom: 10px;
  }
  
  hr {
    color: pink;
  }
  
  p {
    font-size: 26px;
    font-weight: 100;
    color: white;
  }

  .container {
    top: 25%;
    z-index: 3;
  }
  
  .overlay {
    background-color: #530c06;
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
  }
  
}

.background-white {
  background-color: #fff;
  width: auto;
}

.background-gray {
  background-color: #59585d;
  
  h2 {
    color: white;
  }
}

.experience-details {
  color: #b61910;
}

.card {
  max-height: inherit;
  overflow: hidden;
}

.card-body {
  padding: 15px;
}

.contact {
  a {
    font-size: 1rem;
    color: #cccccc;
  }
  a:hover {
    color: #f5d94a;
  }
  p {
    color: #bbb;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.8rem;
  }
  
  > div > p {
    text-align: center;
  }
  
  .center {
    width: fit-content;
    margin: auto;
  }
}

.side-nav {
  position: sticky;
  top: 60px;
  left: 0px;
  background-color: black;
  width: 125px;
  border-radius: 0 5px 5px 0;
  z-index: 999;
  
  a {
    color: #bbb;
    &:hover {
      color: #99ffcc;
      font-weight: 500;
    }
  }
  
  ul {
    padding: 5px 5px 5px 15px;
    list-style: none;
    li {
      padding: 5px;
    }
  }
}

